.modal_wrapper{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow:scroll;

  &.in{
    display: block;
  }
}

.modal_container{
  display: inline-block;
  position: relative;
  text-align: left;
  transition: all 0.3s linear;
  transform: translateY(20px);

  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);

  &.in{
    transform: translateY(20px);
  }
}

.modal_header{
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;

}

.close {
  float: right;
  margin-top: 2px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  cursor: pointer;
  border: none;
  background-color:transparent;
}

.modal_cotent{
  padding: 15px;
}


.modal_comfirm_btn{
  color: #fff;
  background-color: #337ab7;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 10px;
}

.modal_cancel_btn{
  color: black;
  background-color: white;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 10px;
}

.modal_footer{
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

